{%- extends "bootstrap/base.html" %}

{% block title %}HIHW{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
  {{super()}}
  {{fixes.ie8()}}
  <script src="{{ url_for('static', filename='vendor/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/js/d3.v4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/js/dimple.v2.3.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{%- endblock %}

{% import "bootstrap/utils.html" as utils %}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>HIHW: Grammar Map</h1>
      <p>Integers between 1 and 123 have been spelled out in English with no spaces or conjunctions and compiled into a single string, e.g the number 101 is "onehundredone".</p>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="https://en.wikipedia.org/wiki/Empirical_probability">Empirical Probability</a>
        </h3>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-btn">
            <button id="calculate" class="btn btn-default" type="button">Calculate</button>
          </span>
          <input id="user-letter" type="text" class="form-control" placeholder="probability of the letter...">
        </div>
        <div id="validCalc" class="hidden">
          <br/>
          <div id="validCalcMessage" class="alert alert-success" role="alert"></div>
        </div>
        <div id="invalidCalc" class="hidden">
          <br/>
          <div id="invalidCalcMessage" class="alert alert-danger" role="alert">...</div>
        </div>
      </div>
      <div id="e-prob" class="panel-footer">
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contents of String</h3>
      </div>
      <div class="panel-body" style="word-break:break-all;word-wrap:break-word;">
        {{ contents }}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Total Length of String</h3>
      </div>
      <div class="panel-body">
        {{ length }}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Distribution of Letters in String</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-6">
        </div>
        <div id="chartContainer"></div>
      </div>
   </div>
{%- endblock %}
